.ani-navbar {
  padding: 10px 0;
  transition: .3s;
  cursor: pointer;
  div {
    width: 40px;
    height: 4px;
    margin: 7px 14px;
    border-radius: 2px;
  }
}
.ani-navbar-white {
  background-color: #fff;
  transition: .3s;
  div {
    background-color: $color1;
  }
}
.ani-navbar-blue {
  background-color: $color1;
  transition: .3s;
  div {
    background-color: #fff;
  }
}
.ani-navbar-f1 {
  div {
    margin: 7px 10px;
  }
}
.ani-navbar-f2 {
  div:nth-child(1) {
    animation: changenavbar .3s forwards;
  }
  div:nth-child(2) {
    animation: changenavbarReverse .3s forwards;
  }
  div:nth-child(3) {
    display: none;
  }
}
@keyframes changenavbar {
  from { 
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes changenavbarReverse {
  from { 
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg);
  }
}